.App {
  text-align: center;
  background-color: #55aa55;
  height: 100vh;
  overflow: hidden;
}

.preload-card-deck {
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-dealer { 
  width: 75vw;
  height: 30vh;
}
.App-player {
  width: 75vw;
  height: 30vh;
}
.dealer-card-list, .player-card-list {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.hidden-accessible {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.card {
}

figure {
  margin: 0;
}

.card-image {
  width: 20vw;
  height: 30vh;
  background-image: url('./card-deck.svg');
  background-repeat: no-repeat;
  background-size: 1300%;
  background-position: 0px 0px;
  width: 80px;
  height: 120px;
}

/** Generate images from sprite algorithm
['Spades', 'Hearts', 'Diamonds', 'Clubs'].map((suit, suitIndex) => {
	return ['A','2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K'].map((kind, index) => {
  	return `.card-image[data-face="${kind}"][data-suit="${suit}"] {
  background-position: -${(80*(index) + 2) - 0.1*(index)}px -${(suitIndex * 117) - (0.5 + 1/(index + 1))}px;
}`
}).join("\n")
}).join("\n") 
*/
.card-image[data-face="A"][data-suit="Spades"] {
  background-position: -2px -1.5px;
}
.card-image[data-face="2"][data-suit="Spades"] {
  background-position: -81.9px -1.5px;
}
.card-image[data-face="3"][data-suit="Spades"] {
  background-position: -161.8px -1.5px;
}
.card-image[data-face="4"][data-suit="Spades"] {
  background-position: -241.7px -1.5px;
}
.card-image[data-face="5"][data-suit="Spades"] {
  background-position: -321.6px -1.5px;
}
.card-image[data-face="6"][data-suit="Spades"] {
  background-position: -401.5px -1.5px;
}
.card-image[data-face="7"][data-suit="Spades"] {
  background-position: -481.4px -1.5px;
}
.card-image[data-face="8"][data-suit="Spades"] {
  background-position: -561.3px -1.5px;
}
.card-image[data-face="9"][data-suit="Spades"] {
  background-position: -641.2px -1.5px;
}
.card-image[data-face="10"][data-suit="Spades"] {
  background-position: -721.1px -1.5px;
}
.card-image[data-face="J"][data-suit="Spades"] {
  background-position: -801px -1.5px;
}
.card-image[data-face="Q"][data-suit="Spades"] {
  background-position: -880.9px -1.5px;
}
.card-image[data-face="K"][data-suit="Spades"] {
  background-position: -960.8px -1.5px;
}
.card-image[data-face="A"][data-suit="Hearts"] {
  background-position: -2px -115.5px;
}
.card-image[data-face="2"][data-suit="Hearts"] {
  background-position: -81.9px -116px;
}
.card-image[data-face="3"][data-suit="Hearts"] {
  background-position: -161.8px -116.16666666666667px;
}
.card-image[data-face="4"][data-suit="Hearts"] {
  background-position: -241.7px -116.25px;
}
.card-image[data-face="5"][data-suit="Hearts"] {
  background-position: -321.6px -116.3px;
}
.card-image[data-face="6"][data-suit="Hearts"] {
  background-position: -401.5px -116.33333333333333px;
}
.card-image[data-face="7"][data-suit="Hearts"] {
  background-position: -481.4px -116.35714285714286px;
}
.card-image[data-face="8"][data-suit="Hearts"] {
  background-position: -561.3px -116.375px;
}
.card-image[data-face="9"][data-suit="Hearts"] {
  background-position: -641.2px -116.38888888888889px;
}
.card-image[data-face="10"][data-suit="Hearts"] {
  background-position: -721.1px -116.4px;
}
.card-image[data-face="J"][data-suit="Hearts"] {
  background-position: -801px -116.4090909090909px;
}
.card-image[data-face="Q"][data-suit="Hearts"] {
  background-position: -880.9px -116.41666666666667px;
}
.card-image[data-face="K"][data-suit="Hearts"] {
  background-position: -960.8px -116.42307692307692px;
}
.card-image[data-face="A"][data-suit="Diamonds"] {
  background-position: -2px -232.5px;
}
.card-image[data-face="2"][data-suit="Diamonds"] {
  background-position: -81.9px -233px;
}
.card-image[data-face="3"][data-suit="Diamonds"] {
  background-position: -161.8px -233.16666666666666px;
}
.card-image[data-face="4"][data-suit="Diamonds"] {
  background-position: -241.7px -233.25px;
}
.card-image[data-face="5"][data-suit="Diamonds"] {
  background-position: -321.6px -233.3px;
}
.card-image[data-face="6"][data-suit="Diamonds"] {
  background-position: -401.5px -233.33333333333334px;
}
.card-image[data-face="7"][data-suit="Diamonds"] {
  background-position: -481.4px -233.35714285714286px;
}
.card-image[data-face="8"][data-suit="Diamonds"] {
  background-position: -561.3px -233.375px;
}
.card-image[data-face="9"][data-suit="Diamonds"] {
  background-position: -641.2px -233.38888888888889px;
}
.card-image[data-face="10"][data-suit="Diamonds"] {
  background-position: -721.1px -233.4px;
}
.card-image[data-face="J"][data-suit="Diamonds"] {
  background-position: -801px -233.4090909090909px;
}
.card-image[data-face="Q"][data-suit="Diamonds"] {
  background-position: -880.9px -233.41666666666666px;
}
.card-image[data-face="K"][data-suit="Diamonds"] {
  background-position: -960.8px -233.42307692307693px;
}
.card-image[data-face="A"][data-suit="Clubs"] {
  background-position: -2px -349.5px;
}
.card-image[data-face="2"][data-suit="Clubs"] {
  background-position: -81.9px -350px;
}
.card-image[data-face="3"][data-suit="Clubs"] {
  background-position: -161.8px -350.1666666666667px;
}
.card-image[data-face="4"][data-suit="Clubs"] {
  background-position: -241.7px -350.25px;
}
.card-image[data-face="5"][data-suit="Clubs"] {
  background-position: -321.6px -350.3px;
}
.card-image[data-face="6"][data-suit="Clubs"] {
  background-position: -401.5px -350.3333333333333px;
}
.card-image[data-face="7"][data-suit="Clubs"] {
  background-position: -481.4px -350.35714285714283px;
}
.card-image[data-face="8"][data-suit="Clubs"] {
  background-position: -561.3px -350.375px;
}
.card-image[data-face="9"][data-suit="Clubs"] {
  background-position: -641.2px -350.3888888888889px;
}
.card-image[data-face="10"][data-suit="Clubs"] {
  background-position: -721.1px -350.4px;
}
.card-image[data-face="J"][data-suit="Clubs"] {
  background-position: -801px -350.40909090909093px;
}
.card-image[data-face="Q"][data-suit="Clubs"] {
  background-position: -880.9px -350.4166666666667px;
}
.card-image[data-face="K"][data-suit="Clubs"] {
  background-position: -960.8px -350.4230769230769px;
}
/* End generating images from script */

.card-image-hidden {
  background-position: -322px -468px;;
}

::backdrop {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}